<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>

        <!-- Include navbar partial here -->

        <!-- Page Content -->
        <main class="container">
            <!-- Temporary -->
            <header class="jumbotron my-4">
                <h1 class="display-3">Welcome to Blocipedia</h1>
            </header>
        </main>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>
